/* MangaPlex global styles */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$cyan-palette,
      theme-type: color-scheme,
    ),
    typography: Roboto,
    density: 0,
  ));
  color-scheme: dark;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
